body::-webkit-scrollbar {
    width: 0.1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid slategrey;
}

body {
    background-color: #0095C8;
    color: #333333;
    font-family: ArialRoundedMTBold, "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    /*font-family: "Arial Rounded MT Bold", Arial,"Helvetica Rounded" Helvetica, sans-serif !important;*/
    margin: 0 5px;
}

h1 {
    font-size: 98px;
    font-weight: bold;
    /*text-shadow: -7px -7px 7px #999; */
    margin: 0px;
}

h2 {
    font-size: 46px;
    /*text-shadow: -5px -5px 5px #999;*/
    margin: 5px;
}

h3 {
    font-size: 28px;
    /*text-shadow: -4px -4px 4px #999;*/
    margin: 0px;
}

h4 {
    font-size: 60px;
    /*text-shadow: -4px -4px 4px #999;*/
    margin: 30px 0 0 0;
}

h5 {
    font-size: 16px;
    /*text-shadow: -4px -4px 4px #999;*/
    margin: 0px;
}

h6 {
    font-size: 48px;
    /*text-shadow: -4px -4px 4px #999;*/
    margin: 60px 0 40px 0;
}

.clock {
    font-size: 24px !important;
    color: #0095C8 !important;
    font-weight: bold;
    /*text-shadow: -2px -2px 2px #99d6ff;*/
}

.clock1 {
    font-size: 23px !important;
    color: #0095C8 !important;
    font-weight: bold;
    height: 115px;
    /*text-shadow: -2px -2px 2px #99d6ff;*/
}

.phone {
    height: 120px;
    margin-top: 20px;
}

#clockdate {
    margin-top: 50px;
}

#clock {
    /*margin-top:7px;*/
    padding-top: 20px;
}

p {
    padding: 0px 0px 0px 10px;
    margin: 0px;
}

.padding-top16 {
    padding-top: 16px;
}

.bigfont {
    font-size: 96px;
}

.bigfont1 {
    font-size: 90px;
}
.font20 {
    font-size: 20px;
    padding: 6px 0px;
}
.font22 {
    font-size: 22px;
    padding: 6px 0px;
}
.font24 {
    font-size: 24px;
    padding: 12px 0px;
}

.font26 {
    font-size: 26px;
    padding: 12px 0px;
}

.font28 {
    font-size: 28px;
    padding: 12px 0px;
}

.font30 {
    font-size: 30px;
    padding: 12px 0px;
}

.font34 {
    font-size: 34px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}

.font38 {
    font-size: 38px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}

.font40 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.font42 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.font48 {
    font-size: 48px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}

.padding37 {
    padding: 37px;
}

div {
    border-radius: 4px;
    background-color: #fcfcfc;
}

.liquidFillGaugeText {
    font-family: Helvetica;
    font-weight: bold;
}

.flex-container {
    display: flex;
    align-items: stretch;
    border-radius: 8px;
    padding-top: 10px;
}

    .flex-container > div {
        width: 22.5%;
        text-align: center;
        margin: 3px;
        background-color: #FCFCFC;
        border-radius: 7px;
        padding: 5px 0 5px 0;
    }

#ENG, #phone, #chat, #phoneE, #G2TE, #ChatE, #ChatAppE,
#PhoneContact, #ChatContact {
    /*background-color: #ddd;*/
    /*padding: 2px;
    margin: 2px 2px 0px 2px;*/
    /*border: double;
    border: 10px double #999;
    border-width: 1px;*/
}

#PhoneContact, #ChatContact, #num {
    /*background-color: #ddd;*/
    padding: 0px;
    /*margin: 2px 2px 0px 2px;*/
    /*padding: 2px;
    margin: 2px 1px 2px 1px;*/
    /*border: double;
    border: 10px double #999;
    border-width: 1px;*/
}

#all_contain {
    margin: 1px;
}

#FRE, #PhoneF, #G2TF, #ChatF, #ChatAppF {
    background-color: lightgrey;
    padding: 2px;
    margin: 0px 2px 0px 2px;
    border: double;
    border-color: lightgrey;
    border-width: 1px
}

.emptyline {
    margin: 3px 0px 3px 0px;
}

.Top-min-XXpx {
    margin-top: -55px;
}



#chart_div1, #chart_div2, #chart_div3, #chart_div4 {
    text-align: center;
    align-content: center;
    align-self: center;
    margin-top: 13px;
}

.logodiv {
    padding: 15px 2px 0px 8px;
}

.logostyle {
    padding: 5px;
    width: 95%;
    margin-bottom: 0px;
}

.ChatDivDown {
    padding: 20px 0 0 0;
}

.ChatLogoDiv {
    margin: 15px 0 0 -15px;
}

.container_parent {
    width: 96%; /*96%;*/
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.center_child {
    display: inline-block;
    border: 0px solid #fff;
}

.center_child {
    _display: inline;
}
    /*针对ie6 hack*/
    .center_child a {
        float: left;
        border: 1px solid #fff;
        padding: 5px 10px;
        margin: 10px;
        color: #fff;
        text-decoration: none;
    }

.borderShadow {
    box-shadow: 3px 3px 5px #777;
    border: 1px double #aaa;
    margin: 12px 1px 9px 8px;
    padding-bottom: 6px;
    width: 95%;
    /*height: 160px;*/
    background-color: #FCFCFC;
    border-radius: 5px 5px 5px 5px;
}

.borderLine {
    border: 3px double #777;
    /*margin:20px;*/
}

.borderLineThick {
    border: 5px double;
}

.borderLine1 {
    border: 1px solid #0095C8;
    text-align: center;
    padding: 5px 0px 0px 2px;
    background-color: #0095C8;
}

.blank1r {
    padding: 1px 0px;
    background-color: #0095C8;
    border-radius: 7px;
}

.blank2r {
    padding: 2px 0px;
    background-color: #0095C8;
    border-radius: 7px;
}

.blank4r {
    padding: 6px;
    background-color: #0095C8;
    border-radius: 7px;
}

.blank8r {
    padding: 8px 0px;
    background-color: #0095C8;
}

.blank10r {
    padding: 10px 0px;
    background-color: #0095C8;
}

.blank12r {
    padding: 12px 0px;
    background-color: #0095C8;
}

.divbgcWithPage {
    background-color: #0095C8;
}

.divbgcWithPageFCFCFC {
    background-color: #FCFCFC;
}

.margin-upMin6 {
    margin: -6px 0px;
}

.Margin-top-min25 {
    margin-top: -25px;
}

.borderLineThick {
    border: 1px double #aaa;
}

/*==================================================
 * Effect 5
 * ===============================================*/
.box {
    width: 70%;
    height: 200px;
    background: #FFF;
    margin: 40px auto;
}

.effect55 {
    position: relative;
}

    .effect55:before, .effect55:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 25px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 400px;
        background: #777; /** 777 */
        -webkit-box-shadow: 0 35px 20px #777; /*777**/
        -moz-box-shadow: 0 35px 20px #777; /*777**/
        box-shadow: 5px 35px 20px #333; /*555*/
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }

    .effect55:after {
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg);
        right: 10px;
        left: auto;
    }


#progress {
    margin: 0;
    width: 150px;
    height: 150px;
    position: relative;
    background-image: url("KHP_Sq.png");
    background-repeat: no-repeat;
    background-size: cover;
}



#PhoneCounslor1, #ChatCounslor1 {
    margin: 5px;
    padding: 5px;
    z-index: 0;
}

.Labeling {
    /*z-index: 1;*/
    margin: 10px 0 0 0;
    font-size: 24px !important;
    background-color: transparent;
    /*opacity: 0.8;*/
}

.dimmed {
    opacity: 0.3;
}



/************   Grade  ***************/
.widget {
    margin: 0 auto;
    width: 250px;
    /*margin-top: 50px;*/
    background-color: transparent; /*william canvos background color*/
    /*background-color: #222D3A;*/
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0);
}

.header {
    background-color: transparent;
    height: 40px;
    color: #333333;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 1px 1px #fff;
    border-bottom: 1px solid #eaeaea;
}

.chart-container {
    padding: 0 25px;
}



/*following area for walk*/
#walk, #header {
    max-width: 90%;
    font-size: 26px;
}

#imgdiv {
    max-height: 60%;
    padding-top: 10px
}

.center {
    margin: auto;
    width: 90%;
    /*border: 3px solid green;*/
    padding: 10px;
    text-align: center;
}

.text_left {
    text-align: left;
    padding-left: 15px;
    margin: 0px;
}

.text_right {
    text-align: right;
    padding-right: 30px;
    margin: 30px;
}

.hiddenPager {
    visibility: hidden;
    display: none;
}


.row div.theplan {
    flex-direction: column;
    transition: all .5s;
}


    .row div.theplan:hover { /* when mouse hover over pricing table */
        transform: scale(1.03);
        transition: all 0.5s;
        z-index: 100;
        box-shadow: 0 0 10px gray;
        border-radius: 4px;
    }



.theplan {
    flex-direction: column;
    transition: all .05s;
}

.hover1 { /* when mouse hover over pricing table */
    transform: scale(1.03);
    transition: all 0.05s;
    z-index: 100;
    /*box-shadow: 0 0 10px gray;*/
    border-radius: 4px;
    /*color: #030ff8;*/
    color: #0095C8;
}