body::-webkit-scrollbar {
    width: 0.1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid slategrey;
}

body {
    background-color: #ccc;
    color: #333333;
    font-family: ArialRoundedMTBold, "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    /*font-family: "Arial Rounded MT Bold", Arial,"Helvetica Rounded" Helvetica, sans-serif !important;*/
    margin: 0 5px;
}

h1 {
    font-size: 98px;
    font-weight: bold;
    /*text-shadow: -7px -7px 7px #999; */
    margin: 0px;
}

h2 {
    font-size: 72px;
    /*text-shadow: -5px -5px 5px #999;*/
    margin: 5px;
}

h3 {
    font-size: 28px;
    /*text-shadow: -4px -4px 4px #999;*/
    margin: 0px;
}

h4 {
    font-size: 60px;
    /*text-shadow: -4px -4px 4px #999;*/
    margin: 30px 0 0 0;
}
h5 {
    font-size: 16px;
    /*text-shadow: -4px -4px 4px #999;*/
    margin: 0px;
}
h6 {
    font-size: 48px;
    /*text-shadow: -4px -4px 4px #999;*/
    margin: 60px 0 40px 0;
}
.clock {
    font-size: 24px !important;
    color: #0095C8 !important;
    font-weight: bold;
    /*text-shadow: -2px -2px 2px #99d6ff;*/
}
.phone {
    height :120px;
    margin-top:20px;
}
#clockdate {
    margin-top: 50px;
}
#clock{
    margin-top:15px;
}
p {
    padding: 0px 0px 0px 10px;
    margin: 0px;
}

div {
    border-radius: 8px;
    background-color: #fcfcfc;
}

.liquidFillGaugeText {
    font-family: Helvetica;
    font-weight: bold;
}

.flex-container {
    display: flex;
    align-items: stretch;
    border-radius: 8px;
    padding-top: 10px;
}

    .flex-container > div {
        width: 22.5%;
        text-align: center;
        margin: 3px;
        background-color: #FCFCFC;
        border-radius: 7px;
        padding: 5px 0 5px 0;
    }

#ENG, #phone, #chat, #phoneE, #G2TE, #ChatE, #ChatAppE {
    background-color: #ddd;
    padding: 2px;
    margin: 2px 2px 0px 2px;
    /*border: double;
    border: 10px double #999;
    border-width: 1px;*/
}

#FRE, #PhoneF, #G2TF, #ChatF, #ChatAppF {
    background-color: lightgrey;
    padding: 2px;
    margin: 0px 2px 0px 2px;
    border: double;
    border-color: lightgrey;
    border-width: 1px
}

.emptyline {
    margin: 3px 0px 3px 0px;
}

.Top-min-XXpx {
    margin-top: -55px;
}



#chart_div1, #chart_div2, #chart_div3, #chart_div4 {
    text-align: center;
    align-content: center;
    align-self: center;
    margin-top: 13px;
}

.logodiv {
    padding: 15px 2px 0px 8px;
}

.logostyle {
    padding: 5px;
    width: 95%;
    margin-bottom: 0px;
}

.ChatDivDown {
    padding: 20px 0 0 0;
}

.ChatLogoDiv {
    margin: 15px 0 0 -15px;
}

.container_parent {
    width: 96%;     /*96%;*/
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.center_child {
    display: inline-block;
    border: 0px solid #fff;
}

.center_child {
    _display: inline;
}
    /*针对ie6 hack*/
    .center_child a {
        float: left;
        border: 1px solid #fff;
        padding: 5px 10px;
        margin: 10px;
        color: #fff;
        text-decoration: none;
    }

.borderShadow {
    box-shadow: 3px 3px 5px #777;
    border: 1px double #aaa;
    margin: 12px 1px 9px 8px;
    padding-bottom: 6px;
    width: 95%;
    /*height: 160px;*/
    background-color: #FCFCFC;
    border-radius: 5px 5px 5px 5px;
}

.borderLine {
    border: 3px double #777;
    /*margin:20px;*/
}

.borderLineThick {
    border: 5px double #FF0000;
}

.borderLineThick {
    border: 1px double #aaa;
}

/*==================================================
 * Effect 5
 * ===============================================*/
.box {
    width: 70%;
    height: 200px;
    background: #FFF;
    margin: 40px auto;
}

.effect55 {
    position: relative;
}

    .effect55:before, .effect55:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 25px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 400px;
        background: #777; /** 777 */
        -webkit-box-shadow: 0 35px 20px #777; /*777**/
        -moz-box-shadow: 0 35px 20px #777; /*777**/
        box-shadow: 5px 35px 20px #333; /*555*/
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }

    .effect55:after {
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg);
        right: 10px;
        left: auto;
    }


#progress {
    margin: 0;
    width: 150px;
    height: 150px;
    position: relative;
    background-image: url("KHP_Sq.png");
    background-repeat: no-repeat;
    background-size: cover;
}

 

#PhoneCounslor1, #ChatCounslor1 {
    margin: 5px;
    padding: 5px;
    z-index: 0;
}

.Labeling {
    /*z-index: 1;*/
    margin: 10px 0 0 0;
    font-size: 24px !important;
    background-color: transparent;
    /*opacity: 0.8;*/
}

.dimmed {
    opacity: 0.3;
}
 


/************   Grade  ***************/
.widget {
    margin: 0 auto;
    width: 250px;
    /*margin-top: 50px;*/
    background-color: transparent; /*william canvos background color*/
    /*background-color: #222D3A;*/
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0);
}

.header {
    background-color: transparent;
    height: 40px;
    color: #333333;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 1px 1px #fff;
    border-bottom: 1px solid #eaeaea;
}

.chart-container {
    padding: 0 25px;
}