<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReaderBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <clear />

    <!-- RAMAPI.Kidshelpphone.ca  -->
    <!--<add name="ReaderBoardEntities" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RamApi.kidshelpphone.ca;initial catalog=RAM;persist security info=True;user id=ramuser;password=KidshelpWC15!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- localhost  -->
    <add name="ReaderBoardEntities" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=T530;initial catalog=RAM;persist security info=True;user id=ramuser;password=KidshelpWC15!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\Temp\;" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_CTIService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://websvr02.icescape.com:7090/iceCTIServiceKHPWeb" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CTIService" contract="iceCTI.CTIService" name="BasicHttpBinding_CTIService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ReaderBoard.Properties.Settings>
      <setting name="szServerName" serializeAs="String">
        <value>ice1</value>
      </setting>
      <setting name="dwSwitchID" serializeAs="String">
        <value>11006</value>
      </setting>
      <setting name="Phone_ENG" serializeAs="String">
        <value>6001</value>
      </setting>
      <setting name="Phone_FRE" serializeAs="String">
        <value>6002</value>
      </setting>
      <setting name="G2T_ENG" serializeAs="String">
        <value>6013</value>
      </setting>
      <setting name="G2T_FRE" serializeAs="String">
        <value>6014</value>
      </setting>
      <setting name="Chat_ENG" serializeAs="String">
        <value>6007</value>
      </setting>
      <setting name="Chat_FRE" serializeAs="String">
        <value>6008</value>
      </setting>
      <setting name="ChatApp_ENG" serializeAs="String">
        <value>6020</value>
      </setting>
      <setting name="ChatApp_FRE" serializeAs="String">
        <value>6021</value>
      </setting>
      <setting name="dayTimeStart" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="dayTimeEnd" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatEnDayStart" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatEnTimeStart" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatEnTimeEnd" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatFrDayStart" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatFrTimeStart" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatFrTimeEnd" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatClosed" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatEnDayEnd" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatFrDayEnd" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="dimOpacity" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="DashboardRefreshing" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="dimOpacityNight" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="walkUrl" serializeAs="String">
        <value>http://my.e2rm.com/webgetservice/get.asmx/getParticipantScoreBoard?eventID=250875&amp;languageCode=en-CA&amp;sortBy=OnlineAndOfflineAmount&amp;listItemCount=20&amp;externalQuestionID=SponsoredBy2019&amp;externalAnswerID=Kids%20Help%20Phone&amp;Source=</value>
      </setting>
    </ReaderBoard.Properties.Settings>
  </applicationSettings>
  <!-- Live Chat runs Wednesday to Sunday 6pm to 2am (Monday 2am) in English, and Thursday to Monday 6pm to 2am (Tuesday 2am) in French.  -->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>